<ion-header>
    <ion-navbar>
      <ion-title> {{nombre}} </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-list>
          <ion-item *ngFor="let puta of putas">
            <h2> {{ nombre }} </h2>
            <p> {{ puta.message }} </p>
          </ion-item>
        </ion-list>
    </ion-row>
    <ion-row>
        <ion-list>
            <ion-item *ngFor="let puta of putas">
              <h2> {{ nombre }} </h2>
              <p> {{ puta.message }} </p>
            </ion-item>
          </ion-list>
      </ion-row>
  </ion-grid>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-row class= ''message_row>
      <ion-col col-9>
        <ion-item no lines>
          <ion-input type= "text" placeholder= 'Hola' [(ngModel)]="mensaje"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-3>
        <button ion-button clear color="primary" (click)= "PostS()">Enviar </button>
      </ion-col>
     </ion-row>
  </ion-toolbar>
</ion-footer>
