page-home {
    ion-card{
      max-width: 400px;
      max-height: 380px;
      margin: auto;
      position: relative;
      text-align: center;

    }
    .card-title {
   position: absolute;
   top: 25%;
   font-size: 2.0em;
   width: 100%;
   font-weight: bold;
   color: #0c1b33;
 }

 .card-subtitle {

   font-size: 1.0em;
   position: absolute;
   top: 35%;
   width: 100%;
   color: #0c1b33;
 }
.card-miembros {
position: absolute;
top: 48%;
font-size: 1.5em;
width: 100%;
font-weight: bold;
color: #0c1b33;
}
.card-description {

  font-size: 1.0em;
  position: absolute;
  top: 60%;
  width: 100%;
  color: #0c1b33;
}


    .login {
      position: absolute;
        top: 10; bottom:5; left: 0; right:0;
        margin:  auto;
        z-index: 2;

    }

}
